* {
    color:blueviolet;
    background-color: rgb(1, 1, 73);
    font-family:Arial, Helvetica, sans-serif;
}

a:link {
    color:rgb(67, 67, 252);
}

a:visited {
    color:rgb(0, 163, 95);
}

a:hover {
    color:rgb(4, 86, 153);
}

a:active {
    color:blueviolet;
}

h1{
    text-align:right;
    border-style: none none solid none;
    border-width: thick;
    border-color: rgb(0, 163, 95);
}

h3 {
    text-align:left;
    border-bottom: thin solid rgb(0, 163, 95);
}

h4 {
    text-align:left;
    border-bottom: thin solid rgb(0, 163, 95);
}

p {
    color:rgb(182, 138, 223);
}

li {
    color:rgb(182, 138, 223);
}

img {
    border: 1px solid rgb(255, 255, 184);
}

div.image {
    color:rgb(0, 163, 95);
    font-style: italic;
    font-size:smaller;
}

div.desc {
    padding-top: 2px;
    padding-left: 15px;
    padding-bottom: 15px;
    text-align:left;
    color:rgb(0, 163, 95);
    font-weight: bold;
    font-size:larger;
}

div.gallery {
    padding-top:10px;
    padding-left: 60px;
    width:fit-content;
    height:fit-content; 
}

div.gallery:hover {
    border:3px solid rgb(1, 1, 73);
}