* {
    color:blueviolet;
    background-color: rgb(1, 1, 73);
    font-family:Arial, Helvetica, sans-serif;
}

a:link {
    color:rgb(67, 67, 252);
}

a:visited {
    color:rgb(211, 93, 111);
}

a:hover {
    color:rgb(4, 86, 153);
}

a:active {
    color:blueviolet;
}

h1{
    text-align:right;
    border-style: none none solid none;
    border-width: thick;
    border-color: rgb(0, 163, 95);
}

h3 {
    text-align:left;
    border-bottom: thin solid rgb(0, 163, 95);
}

h4 {
    text-align:left;
    border-bottom: thin solid rgb(0, 163, 95);
}

p {
    color:rgb(182, 138, 223);
}

li {
    color:rgb(182, 138, 223);
}

